body {
    background-color: #6495ED;
}

p {
    text-align: center;
    margin-top: 45vh;
    font-size: xx-large;
    font-family: 'Boogaloo', cursive;
    border: 5px solid black;
    padding: 5px;
    margin-left: 30%;
    margin-right: 30%;
    overflow: hidden;
    background-color: #4682f0;
}

p:hover {
    background-color: yellow;
    transition: 2s;
    /* transition-delay: 1s; */
}

a {
    text-decoration: none;
    color: inherit;
    cursor: context-menu;
}